a, a:visited {
    border: 1px solid black;
    color: #000;
    background-color: #dbdbdb;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover {
    background-color: #9cd5e4;
}

body {
    background-color: #FFF;
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}

h2 {
    color: #FFF;
}

#content {
    margin: auto;
    width: 80%;
}

h1 {
    text-align: center;
    background-color: #c0c0c0;
    color: #000000;
}

.blogpost {
    background-color: #8998ad;
    overflow: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.blogpost img {
    width: 20%;
    float: left;
    margin: 0px 10px 10px 0px;
}

.blogpost h1 {
    background-color: inherit;
    font-size: 1.5em;
}

.blogpost p {
    text-align: justify;
    color: #000;
}

body {
    font-family: 'Baloo 2';font-size: 22px;
    font-weight: 800;
}

h2 {
    color: #000;
}